.categorias-bg {
  margin-bottom: 100px;
}

.categorias {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

@media ( max-width: 800px ) {
  .categorias {
    grid-template-columns: repeat(5, 1fr);
    gap: .5rem;
    border: none;
    padding: 0 1rem;
  }
}

@media ( max-width: 600px ) {
  .categorias-bg {
    margin-bottom: 50px;
  }
}